@page "/material-categories/{id:int}"
@page "/material-categories/new"
@inherits MaterialCategoriesPageIndex

@if (isLoad)
{
    @if (materialCategory != null)
    {
        <h3>Категория материалов @GetDescription()</h3>

        <form>
            @if (materialCategory.Id != 0)
            {
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Идентификатор: </label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext" value="@materialCategory.Id">
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Наименование: </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" @bind="@materialCategory.Name" />
                </div>
            </div>

            <button type="button" class="btn btn-info" @onclick="Save">Сохранить</button>
        </form>
    }
}
else
{
    <LoadComponent />
}