@page "/documents"

<h3>Документы</h3>

<ul class="nav flex-column my-sidebar">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/orders-to-suppliers" Match="NavLinkMatch.All">
            <span class="oi oi-document" aria-hidden="true"></span> Заказы поставщикам
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/receipt-of-materials" Match="NavLinkMatch.All">
            <span class="oi oi-document" aria-hidden="true"></span> Акты приёма материалов
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/payment-requests" Match="NavLinkMatch.All">
            <span class="oi oi-document" aria-hidden="true"></span> Платежные требования
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/adjustment-of-the-balance-of-materials" Match="NavLinkMatch.All">
            <span class="oi oi-document" aria-hidden="true"></span> Корректировка остатков
        </NavLink>
    </li>
</ul>