@page "/reference-information"

<h3>Справочники</h3>

<ul class="nav flex-column my-sidebar">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/suppliers" Match="NavLinkMatch.All">
            <span class="oi oi-people" aria-hidden="true"></span> Поставщики
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/materials" Match="NavLinkMatch.All">
            <span class="oi oi-image" aria-hidden="true"></span> Материалы
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/material-categories" Match="NavLinkMatch.All">
            <span class="oi oi-folder" aria-hidden="true"></span> Категории материалов
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/banks" Match="NavLinkMatch.All">
            <span class="oi oi-folder" aria-hidden="true"></span> Банки
        </NavLink>
    </li>
</ul>