@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        <div class="container" id="printTable">
            @Body
        </div>
    </div>
</div>
