@page "/"

<h1>Курсовая работа по дисциплине "Базы данных"</h1>
<h3>Вариант 10. Учет расчетов с поставщиками материалов</h3>
<div class="mb-5"></div>
<h5>Выполнили студенты 17-ЗИЭ:</h5>
<h5>Драчева Ю.М.</h5>
<h5>Севостьянов А. А.</h5>
<h5>Хорун К. А.</h5>
<h5>Долотов А. Ю.</h5>
